*.ds_store
*.gz
*.venv
*/venv
*.pdf
*.parquet
*.synctex.gz
*.pyc
*.cpython
*.synctex(busy)
*.log
*.aux
*.bbl
*.blg
*.out
*.toc
*.lot
*.lof
distilbert-base-uncased-finetuned-nlp-course
deberta-v3-base
test-nl