*.ds_store
*.gz
*.venv
*/venv
*.pdf
*.parquet
*.synctex.gz
*.pyc
*.cpython
*.synctex(busy)
*.log
*.aux
*.bbl
*.blg
*.zip
*.out
*.toc
*.lot
*.lof
distilbert-base-uncased-finetuned-nlp-course
deberta-v3-base
test-nl
src/nlp_course/deberta-v3-base-finetuned-nlp-course
src/nlp_course/test-nlp-course-trained
ACL Anthology.bib